
@font-face {
  font-family: 'Clash Display';
  src: url('./ClashDisplay-Variable.ttf') format('truetype'); 
  font-weight: 101 900; 
  font-style: normal;
}

body {
 font-family: 'Clash Display', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, li, div {
  font-family: 'Clash Display', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}